<div class= "container mt-2">
  <div class ="row app-container pt-2">
    <div class ="col-lg-10 offset-md-1 contenido">
      Aqui va el contenido
    </div>
    <div class="card carta-1" style="width: 18rem;">
      <img class="card-img-top" src="assets/img/pastel-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pastel 1</h5>
        <p class="card-text">Texto ejemplo descriptivo para los pasteles.</p>
        <a href="#" class="btn btn-primary">Contacto</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/img/pastel-2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pastel 2</h5>
        <p class="card-text">Texto ejemplo descriptivo para los pasteles.</p>
        <a href="#" class="btn btn-primary">Contacto</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/img/pastel-3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pastel 3</h5>
        <p class="card-text">Texto ejemplo descriptivo para los pasteles.</p>
        <a href="#" class="btn btn-primary">Contacto</a>
      </div>
    </div>
  </div>
</div>
